header {
    background-color: #6C508E;
    color: #0A014F;
    padding: 20px;
    text-align: center;
}

body {
    background-color: #CD9FCC;
    color: #0A014F;
    font-family: Arial, sans-serif;
    margin: 0;
}

nav{
    text-align: center;
    width: 100%;
    background-color: #0A014F;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a{
    color: #CD9FCC;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
}

a:link{
    color: #CD9FCC;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #CD9FCC;
    text-decoration: underline;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
a:visited{
    background-color: transparent;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.page_body{
    padding: 20px;
}

.bio{
    background-color: #FAE8EB;
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 15px;
}

.bio_img{
    float: right;
    margin-left: 5px;
}