header {
    background-color: #6C508E;
    color: #0A014F;
    padding: 20px;
    text-align: center;
}

body {
    background-color: #CD9FCC;
    color: #431c22;
    font-family: Arial, sans-serif;
    margin: 0;
}

nav a {
    color: #FFC107;
    margin: 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.page_body{
    padding: 20px;
}

.bios{
    list-style-type: none;
}