* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #BEB7DF;
    color: #34114F;
    line-height: 1.4;
}

.page_body {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.page_body p {
    margin-bottom: 15px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.logo {
    height: 60px;
    display: block;
    margin: 0 auto 10px auto;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #2c1454;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.page_body {
    padding: 20px;
}

input, select, button {
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #34114F;
    color: white;
    cursor: pointer;
    width: 100px;
    padding: 5px;
}

button:hover {
    background-color: #6C508E;
}

.color_picker_table {
    border-collapse: collapse;
    margin-top: 15px;
    width: 100%;
}

.color_picker_table td {
    padding: 8px;
    vertical-align: middle;
    border: none;
}

.grid {
    border-collapse: collapse;
    margin-top: 20px;
}

.grid th, .grid td {
    border: 2px solid #34114F;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: white;
}

.grid-cell {
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
}

.input-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.input-form input {
    margin-top: 5px;
    width: 100px;
    padding: 5px;
}
.dropdown {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.section-title {
    padding-bottom: 8px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 24px;
}

.grid-title, .color-title {
    color: #34114F;
    border-color: #34114F;
}

@media print {
    nav, button, form {
        display: none !important;
    }

    body {
        background: white;
        color: black;
    }

    table {
        page-break-inside: avoid;
    }

    td, th {
        border: 1px solid black !important;
    }
}
